/*********************************************************************
 *
 *  CalcTVA
 *
 *  Created by Derek Erb Solutions ( https://derekerb.solutions)
 *  JavaScript programming and CSS styling by
 *  Victor Polouchine (victor@derekerb.solutions)
 *
 ********************************************************************/

/*********************************************************************
 *
 *  GENERAL
 *
*********************************************************************/

/*********************************************************************
 *
 *  BREAKPOINTS
 *
 *  Small min-width:        600px
 *  Medium min-width:       768px
 *  Large min-width:        992px
 *  Extra-Large min-width:  1200px

*********************************************************************/

:root {
    --MainBack: #2E2828;

    --BtnBack-1: #043354;
    --BtnBack-2: #065993;
    --BtnBack-3: #0267ab;
    --BtnBack-4: #0876c2;
    --BtnSecBack: #C04A0A;

    --TxtColor: white;

    --Active: #5DC0FFFF;

    --FontMain: 'Roboto', garmond, times, serif;
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/roboto-regular.ttf");
    font-display: swap;
}

* {
    box-sizing: border-box;
}


body {
    background: var(--MainBack);
    color: var(--TxtColor);
    max-width: 100%;
    font-family: var(--FontMain);
}

    /*********************************************************************
     *  Bigger than small tablet
    *********************************************************************/

    @media screen and (min-width: 992px) {
        body {
            width: 50%;
            margin: 0 auto;
        }
    }

button:hover {
    cursor: pointer;
}

img, svg {
    max-width: 100%;
}

input:read-only {
    background-color: var(--MainBack);
    color: var(--TxtColor);
    box-shadow: none;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

/*********************************************************************
 *
 *  HEADER (PUB)
 *
 ********************************************************************/

header {
    width: 100%;

    /* Margin for IPP ads */
    /* margin-top: 80px; */
}

/* FUTURE HISTORY & SETTINGS SECTIONS
#btnSettings, #btnThemeSwitch {
    border: none;
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 2px 5px black);
}

#btnThemeSwitch {
    background: url("/imgs/moon.svg") center / contain no-repeat;
}

#btnSettings {
    background: url("/imgs/settings.svg") center / contain no-repeat;
}

#dSettings {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
*/

/*********************************************************************
 *
 *  NAV
 *
 ********************************************************************/

#navMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--MainBack);
    height: 70px;
    width: 100%;
    background-color: var(--MainBack);
    position: sticky;
    bottom: 0;
    box-shadow: -3px 1px 2px grey;
}

    @media screen and (min-width: 992px) {
        #navMain {
            bottom: 2px;
        }
    }

#navMain button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    appearance: none;
    -moz-appearance: none;
    margin: 2%;
    width: calc(100% / 2);
    height: 75%;
    border: none;
    background-color: transparent;
    font-size: 0.7em;
    color: var(--TxtColor);
    padding: 0.5em 0;
}

#navMain button.active {
    color: var(--Active);
    transition: color 0.3s;
}

#navMain button svg {
    fill: var(--TxtColor);
    pointer-events: none;
}

#navMain button.active svg {
    fill: var(--Active);
    transition: fill 0.3s;
}

#navMain button .svgActive, #navMain button.active .svgInactive {
    display: none
}

#navMain button .svgInactive, #navMain button.active .svgActive {
    display: flex;
}

#navActiveIndicator {
    position: absolute;
    border-radius: 5px;
    z-index: -1;
    left: 1%;
    width: calc(98% /2);
    height: 85%;
    transition: transform 0.3s;
    pointer-events: none;
    box-shadow: 0 0 3px var(--Active);
    background: linear-gradient(0deg, rgba(0,0,0,0.2), transparent);
}

    /*********************************************************************
     *  Bigger than small tablet
    *********************************************************************/

    @media screen and (min-width: 992px) {
        #navMain {
            box-shadow: none;
        }

        #navMain button {
            height: 100%;
            font-size: 1em;
        }

        #navActiveIndicator {
            height: 100%;
        }
    }

/*********************************************************************
 *
 *  ARTICLES (PAGES)
 *
 ********************************************************************/

article {
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    opacity: 0;
    min-height: 100vh;
    margin-top: 10px;
}

article.active {
    display: flex;
    animation: fadeIn 0.3s forwards;
}

article.inactive {
    animation: fadeOut 0.3s forwards;
}

#artCalc.active {
    animation: fadeIn 0.3s forwards, moveRight 0.5s forwards;
}

#artAbout.active {
    animation: fadeIn 0.3s forwards, moveLeft 0.5s forwards;
}

/*********************************************************************
 *
 *  CALCULATOR PAGE
 *
 ********************************************************************/

#sectCalc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#dCalcWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#dCalcWrap button, #dCalcWrap input {
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black, inset -2px -2px 3px rgba(0,0,0,0.5);
    transition: background-color 0.3s, border 0.3s;
}

#dCalcWrap input {
    text-align: right;
    padding: 0.4em 0.5em 0.4em 0.4em;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    width: 20ch;
}

#dCalcWrap button:focus, #dCalcWrap button:active {
    box-shadow: 0 0 0 3px var(--BtnSecBack);
    outline: none;
}

#dCalcWrap input:focus, #dCalcWrap input:active {
    box-shadow: 0 0 0 3px var(--BtnBack-4);
    outline: none;
}

#dCalcWrap input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

#dCalcWrap input:read-only {
    box-shadow: none;
}

#dCalcWrap label {
    width: 20%;
    text-align: right;
    margin-right: 5%;
}

#dCommands {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 4%;
}

#dCommands button {
    appearance: none;
    border: none;
    height: 50px;
    width: 50px;
    box-shadow: none;
}

#dCommands button svg {
    pointer-events: none;
}

#dCommands #btnUndo {
    background: url("/imgs/undo.svg") center / cover;
}

#dCommands #btnReset {
    background: url("/imgs/reset.svg") center / cover;
    transform: rotateZ(-180deg);
}

.dCalc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2% auto;
    font-size: 1.4em;
    letter-spacing: 0.05em;
}

#dTVA {
    width: 100%;
    margin: 1% auto;
}

#dBtns {
    justify-content: center;
}

#dBtns button {
    background-color: var(--BtnBack-4);
    color: var(--TxtColor);
    padding: 0.4em 0.4em;
    margin: 0 2%;
    width: 100%;
}

#dBtns button:first-child {
    margin-left: 0;
    background-color: var(--BtnBack-1);
}

#dBtns button:nth-child(2) {
    background-color: var(--BtnBack-2);
}

#dBtns button:nth-child(3) {
    background-color: var(--BtnBack-3);
}

#dBtns button:last-child {
    margin-right: 0;
    background-color: var(--BtnBack-4);
}

#dBtns button.active {
    background-color: var(--TxtColor);
    color: var(--BtnBack-4);
    box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.5),
                0 0 0 3px var(--BtnBack-4);
}

#dBtns button.active:active, #dBtns button.active:focus {
    box-shadow: 0 0 0 3px var(--BtnSecBack), inset 0 0 5px 1px rgba(0,0,0,0.5);
}

#dAdd {
    justify-content: center;
}

#dAdd button {
    background-color: var(--BtnSecBack);
    padding: 0.5em 2.5em;
    color: var(--TxtColor);
}

#dAdd button:focus, #dAdd button:active {
    box-shadow: 0 0 0 3px var(--BtnBack-4);
    outline: none;
}

    /*********************************************************************
     *  Bigger than smartphone
    *********************************************************************/

    @media screen and (min-width: 600px) {
        .dCalc {
            justify-content: center;
            width: 90%;
        }

        #dCalcWrap label {
            margin-right: 4%;
        }

        #dTVA {
            width: 90%
        }
    }

/*********************************************************************
 *
 *  CALC TOTALS
 *
 ********************************************************************/

#sectTotals {
    width: 90%;
    text-align: center;
    display: none;
    flex-direction: column;
    margin-bottom: 4%;
}

#sectTotals h1 {
    font-size: 1.5em;
    margin: 2% auto 0 auto;
}

#sectTotals h2 {
    margin: 3% auto;
    font-size: 1.3em;
}

#dTits, .dEntry {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#dTits h2, .dEntry p {
    width: 33%;
}

.dEntry {
    border-top: 1px solid grey;
    box-shadow: 0 2px 5px black;
    margin: 4px auto;
}

.dEntry:nth-child(5) {
    border-top: 1px solid grey;
}

.dEntry p {
    text-align: right;
    margin-right: 6%;
}

.dTotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0 2% 2% 0;
}

.dTotal input {
    width: 33%;
    text-align: right;
    border: none;
    font-size: 1em;
}

.dTotal .lblRate {
    width: 100%;
    text-align: right;
    margin: 2% 0 2% 5%;
    font-style: italic;
    font-weight: 900;
    font-size: 1em;
    padding-right: 75%;
}

#dTotals {
    border: 1px solid grey;
    box-shadow: 0 2px 5px black;
}

#dTotal200, #dTotal200 input {
    background-color: var(--BtnBack-1);
}

#dTotal100, #dTotal100 input {
    background-color: var(--BtnBack-2);
}

#dTotal55, #dTotal55 input {
    background-color: var(--BtnBack-3);
}

#dTotal21, #dTotal21 input {
    background-color: var(--BtnBack-4);
}


    /*********************************************************************
     *  Bigger than smartphone
    *********************************************************************/

    @media screen and (min-width: 600px) {
            .dTotal input, .dEntry p {
                margin-right: 7%;
                width: 22%;
                font-size: 1.2em;
            }
            .dTotal .lblRate {
                padding-right: 85%;
            }
        }

    /*********************************************************************
     *  Bigger than small tablet
    *********************************************************************/

    @media screen and (min-width: 992px) {

            .dTotal {
                padding: 0 2% 1% 0;
            }
            .dTotal .lblRate {
                padding-right: 90%;
                margin: 1% 0 1% 5%;
            }

            .dTotal input, .dEntry p {
                margin-right: 12%;
                width: 20%;
            }
        }

/*********************************************************************
 *
 *  ABOUT PAGE
 *
 ********************************************************************/

#artAbout h2, #artAbout h3 {
    text-align: center;
}

#artAbout h3 {
    margin-bottom: 0;
}

#sectAbout, #sectInstr {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sectAbout, #sectInfoFooter {
    text-align: center;
}

#sectInstr {
    text-align: left;
}

#sectInstr img {
    max-width: 2em;
    max-height: 2em;
    transform: translateY(30%);
}

#sectInstr ul {
    padding-inline-start: 0;
    padding: 0.5em;
    margin-top: 0;
}

#sectInstr ul li {
    line-height: 1.4em;
    margin: 4% auto;
    list-style: none;
}

#sectInstr li:before {
  content: "#️⃣";
  margin: 0 4px 0 0;
}

#sectInfoFooter {
    margin-bottom: 8%;
}

#sectInfoFooter a {
    color: var(--Active);
}

#sectInfoFooter p {
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.5em;
}

/*********************************************************************
 *
 *  KEYFRAMES
 *
 ********************************************************************/

@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        display: flex;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}
